.home-main {
    padding: 10rem 18rem;
    background-color: $color-bg;
    @media (max-width: $breakpoint-xl) {
        padding: 10rem 12rem;
    }
    /* ========== Hero ========== */
    .Hero-section {
        max-width: min(50vw, 1200px);
        margin: 0 auto;
        text-align: center;
        @media (max-width: $breakpoint-xl) {
            max-width: 60vw;
        }
        #typed-line1 { 
            color: $color-text;
            font-size: 6rem;
            font-weight: 500;  
            line-height: 6rem; 
            display: inline-block;
            position: relative;
            z-index: 1;
        }
        #typed-line2 { 
            color: $color-text;
            font-size: 6rem; 
            font-weight: 500;  
            line-height: 6rem;
            display: inline-block;
            position: relative; 
            z-index: 1;
        }
        #typed-line3 {
            color: $color-text;
            font-size: 6rem; 
            font-weight: 500;  
            line-height: 6rem;
            display: inline-block;
            position: relative; 
            z-index: 1; 
        } 
        p  {
            margin: 1.5rem auto;
            font-size: $font-size-lg;
            line-height: 1.6; 
            font-weight: 400;
            color: $color-text;
            max-width: 70ch;
        }
        .underline-animate::after {
                content: '';
                position: absolute;
                bottom: 0.9rem;
                left: 0;
                width: 0;
                height: 2px;
                background: $color-border;
                z-index: -1;    
                animation: underlineGrow 0.6s ease forwards;
            }
            @keyframes underlineGrow {
            to {
                width: 100%;
            }
        }
        /* Scroll CTA */
        .scroll {
        --gap: 0.5rem;
        --dur: 0.35s;
        --arrow-h: 1.2em;
        --line-thick: 2px;
        --arrow-color: #{$color-text};
        --arrow-color-hover: #66cc66;

        text-align: center;
        margin-top: 8rem;

        .scroll-link {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: .4rem;
            text-decoration: none;
            color: var(--arrow-color);

            .description {
                font-size: $font-size-base;
                font-weight: 500;
                margin-right: .25rem;
                transition: transform var(--dur) ease;
            }

            .arrow {
            position: relative;
            display: inline-grid;
            grid-auto-flow: row;
            grid-auto-rows: 1.2em;
            overflow: hidden;
            height: var(--arrow-h);
            transition: height var(--dur) ease, color var(--dur) ease;
            color: inherit;

            &::before {
                content: "";
                position: absolute;
                top: -0.6rem;
                left: 0.5em;
                width: var(--line-thick);
                height: 0.6rem;
                background: currentColor;
                border-radius: 999px;
                transition: background-color var(--dur) ease;
            }
        }
            .chev {
                width: 1em; height: 1em;
                stroke: currentColor; stroke-width: 2; fill: none;
                stroke-linecap: round; stroke-linejoin: round;
                transform: translateY(-100%);
                opacity: 0;
                transition: transform 0.3s ease, opacity 0.3s ease;

                &:nth-child(1) { transform: translateY(0); opacity: 1; }
                }

                &:hover {
                color: var(--arrow-color-hover);
                .description { transform: translateY(.2rem); }
                .arrow { height: 4em; }
                .chev {
                    transform: translateY(0); opacity: 1;
                    &:nth-child(2) { transition-delay: 0.05s; }
                    &:nth-child(3) { transition-delay: 0.10s; }
                }
                }
            }
        }
    }
     /* ========== Services ========== */
    .services {
        position: relative; 
        margin-bottom: 8rem;
        .services-title {
            position: absolute; 
            left: 50%; 
            top: 0; 
            transform: translateX(-50%);
            font-size: $font-size-xxl; 
            color: $color-text;
            z-index: 0;
        }
        .services-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            padding: 5rem 0;
            transform: translateY(80px);
            opacity: 0;
            transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s;
            &.visible { 
                transform: translateY(0); 
                opacity: 1; 
            }
            .card {
                width: 100%;
                min-height: 460px;
                .card-head {
                    width: 100%;
                    min-height: 280px;
                    background-color: $color-bg-alt;
                    border: 0px solid $color-border; 
                    border-radius: 60px;
                    margin: 0 auto 2rem auto;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: 50% 50%;
                    }
                }
                .card-body {
                    max-width: 250px;
                    margin: 0 auto;
                    .card-title {
                        text-align: center;
                        font-size: $font-size-xl;
                        margin-bottom: 1rem;
                    }
                    .card-subtitle {
                        text-align: center;
                        font-size: $font-size-base;
                        margin-bottom: 2rem;
                    }
                    .card-content {
                        ul {
                            list-style: square;
                            li {
                                font-size: $font-size-base;
                                color: $color-text-light;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .kv-section, .resources, .about {
        position: relative; 
        margin-bottom: 8rem;
        .section-title {
            position: absolute; 
            left: 50%; 
            top: 15%; 
            transform: translateX(-50%);
            font-size: $font-size-xxl; 
            color: $color-text;
            z-index: 0;
        }
        .resources-title { 
            @extend .section-title; 
            top: -5%; 
        }
        .about-title     { 
            @extend .section-title; 
            top: 0%; 
        }
        .project-card {
            display: flex;
            justify-content: space-between;
            min-height: 600px;
            gap: 2rem; 
            padding: 5rem 0;
            .project-shape {
                width: 378px;
                aspect-ratio: 1/1;
                background-size: cover;
                background-position: center;
                display: flex;                  
                justify-content: center;
                align-items: center;
                transform: translateY(80px); 
                opacity: 0;
                transition: transform .8s cubic-bezier(.25,1,.5,1), 
                opacity .8s;
                &.visible { 
                    transform: translateY(0); 
                    opacity: 1; 
                }
                .square {
                    align-self: center;
                    background-position: center;
                    width: 100%;
                    max-width: 387px;
                    aspect-ratio: 1/1;
                    background-color: $color-text-light;
                    border-radius: 60px;
                }
                .circle {
                    align-self: flex-end;
                    background-position: center;
                    width: 100%;
                    max-width: 387px;
                    aspect-ratio: 1/1;
                    background-color: $color-text-light;
                    border-radius: 50%;
                }
                .triangle {
                    align-self: flex-start;
                    width: 100%;
                    max-width: 387px;
                    aspect-ratio: 1/1;
                    background-color: $color-text-light;
                    background-position: center;
                    -webkit-mask-image: url('/rounded-triangle.svg');
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: contain;
                    -webkit-mask-position: center;
                    mask-image: url('/rounded-triangle.svg');
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    mask-position: center;
                }
            }
        }
        .inorganic {
            --h: clamp(540px, 30vw, 630px);   // 高度（響應式）
            --w: clamp(260px, 20vw, 260px);   // 寬度
            --r: 90px;                        // 圓角
            --overlap: 10px;                  // 重疊量（越大縫隙越小）
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5rem 0;
            transform: translateY(80px);
            opacity: 0;
            transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s;
            &.visible { 
                transform: translateY(0); 
                opacity: 1; 
            }
            .pill {
                width: var(--w);
                height: var(--h);
                border-radius: calc(var(--r) * 1.5);
                background-image: url('/avatar-01.png'); 
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center; // 預設
                background-blend-mode: multiply; 
                &:nth-child(1) { 
                    background-position: 0% 20%; 
                    filter: brightness(1.2);
                }
                &:nth-child(2) { 
                    background-position: 20% 40%; 
                    filter: brightness(1);
                }
                &:nth-child(3) { 
                    background-position: 40% 60%; 
                    filter: brightness(.9);
                }
                &:nth-child(4) { 
                    background-position: 60% 80%; 
                    filter: brightness(.8);
                }
                &:nth-child(5) { 
                    background-position: 80% 100%; 
                    filter: brightness(.7);
                }
                &:nth-child(6) { 
                    background-position: 100% 50%; 
                    filter: brightness(.6);
                }
            }
            .pill + .pill {
                margin-left: calc(-1 * var(--overlap));
            }
        }
        .look-more {
            text-align: left;
            --gap: .75rem;
            --dur: .36s;
            transform: translateY(80px);
            opacity: 0;
            transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s;
            &.visible { 
                transform: translateY(0); 
                opacity: 1; 
            }
            a {
                display: inline-flex;
                align-items: center;
                gap: var(--gap);
                text-decoration: none;
                color: $color-text;
                .description {
                font-size: $font-size-xxl;
                font-weight: 500;
                margin-right: .25rem;
                transition: transform var(--dur) ease;
                }
                .arrow {
                font-size: $font-size-xxl;
                position: relative;
                display: inline-grid;
                grid-auto-flow: column;
                grid-auto-columns: 1.2em;
                overflow: hidden;
                width: 1.2em;
                transition: width var(--dur) ease;
                    i {
                        display: inline-block;
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: transform var(--dur) ease, opacity var(--dur) ease;
                        &:nth-child(1) {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }
                    &:hover,
                    &:focus-visible {
                        color: $color-text;
                    .description {
                        transform: translateX(.2rem);
                    }
                    .arrow {
                        width: 4em;
                        i {
                        transform: translateX(0);
                        opacity: 1;
                        &:nth-child(2) { transition-delay: .04s; }
                        &:nth-child(3) { transition-delay: .08s; }
                        }
                    }
                }
            }
        }
    }
}